Source: devilspie
Section: gnome
Priority: optional
Maintainer: Ross Burton <ross@debian.org>
Build-Depends: debhelper (>= 4.1.0), cdbs, autotools-dev, libpopt-dev (>> 1.5), libgtk2.0-dev, libwnck-dev (>> 0.17), libglade2-dev
Standards-Version: 3.6.0

Package: devilspie
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Find windows and perform actions on them
 This tool will find windows as they are created and perform actions
 on them, such as resizing, moving to another workspace, or pinning
 them to all workspaces.
